{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>CreativeEngineers</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      {% comment %} favicon icon {% endcomment %}
      <link rel="icon" href="{% static 'images/fgfg.jpg' %}" type="image/jpg" sizes="20x20">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
     <!--  <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div> -->
      <!-- end loader --> 
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="head_top">
               <div class="container">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                       <div class="top-box">
                        <ul class="sociel_link">
                        <p class="p-2"><b>example@ahmail.com</b></p>
                     </ul>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                       <div class="top-box">
                        <p><b>+91 9904712212</b></p>
                    </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"> <a href="/"><img src="{% static 'images/fgfg.jpg' %} " alt="logo"/></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              <li> <a href="{% url 'index' %}">Home</a> </li>
                              <li> <a href="{% url 'about' %}">About</a> </li>
                              <li> <a href="{% url 'Services' %}">Services</a> </li>
                              <li> <a href="{% url 'product' %}">product</a> </li>
                              <li> <a href="{% url 'Contacts' %}">Contacts</a> </li>        
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                  <li><a class="buy" href="{% url 'login' %}"><i class="fa fa-lock" aria-hidden="true"></i></a></li>
               </div>
            </div>                                                      
         </div>
         <!-- end header inner --> 
      </header>
      <!-- end header -->
      

            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class='fa fa-angle-right'></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class='fa fa-angle-left'></i>
            </a>
            
         </div>

      </section>

      {% block contant %}
      {% endblock contant %}
      <!--  footer --> 


      <footr>
         <div class="footer">
            <div class="container text-center">
               <div class="row">
                  {% comment %} <div class="col-md-6 offset-md-3">
                     <ul class="sociel">
                         <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                         <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                         <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                     </ul>
                  </div> {% endcomment %}
            </div>
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>conatct us</h3>
                     <span><p>GR Floor Shop No. 40 Sunrise<br>
                        Commercial Complex Mota Varchha Surat 394101</p><br>
                        +91 9904712212</p></span>
                  </div>
               </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>ADDITIONAL LINKS</h3>
                     <ul class="lik">
                         <li> <a href="{% url 'about' %}">About us</a></li>
                         <li> <a href="{% url 'Services' %}">Services</a></li>
                         <li> <a href="{% url 'product' %}">Product</a></li>
                          <li> <a href="{% url 'Contacts' %}">Contact us</a></li>
                     </ul>
                  </div>
               </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>service</h3>
                      <ul class="lik">
                    <li> <a href="#"> Fast service</a></li>
                         <li> <a href="#">Affordable services</a></li>
                         <li> <a href="#">Expert team</a></li>
                         
                  </div>
               </div>
                 {% comment %} <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>About Creative Engineers</h3>
                     <span></span>
                  </div>
               </div> {% endcomment %}
            </div>
         </div>
            <div class="copyright">
               <b><p>Copyright 2021 All Right Reserved By  @Creative Engineers</p></b>

               <b><p>Devloped By @Vaishnav viren and @Harshad satasiya</p></b>
            </div>
         
      </div>


      </footr>
      <!-- end footer -->
      <!-- Javascript files--> 
      <!-- Javascript files--> 
      <script src="{% static 'js/jquery.min.js' %}"></script> 
      <script src="{% static 'js/popper.min.js' %}"></script> 
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script> 
      <script src="{% static 'js/plugin.js' %}"></script> 
      <!-- sidebar --> 
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script> 
      <script src="{% static 'js/custom.js' %}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         
      </script> 
   </body>
</html>